/* Ensure header and footer are not affected by CoreUI */
header, footer {
  background-color: #f8f9fa !important; /* Default header/footer background color */
  color: #333 !important; /* Text color */
}

body {
  background-color: white !important; /* Ensure the body color isn't changed by CoreUI */
}

.container {
  padding-bottom: 100px !important; /* Adjust padding if needed */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
